<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="AutoPrevoznikInfo" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=autoPrevoznikInfo;UserId=root;Password=root;Convert Zero Datetime=True"/>
  </connectionStrings>
</configuration>